
.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: aliceblue;
  }

  
  table {
    width: 80%;
    margin: 20px;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px 15px;
  }

  th,td {
    font-family: Consolas, monospace;
    transition: 0.2s;
  }
  
  td:hover {
    transform: scale(1.05);
  }

  
 
  
  